<%-layout("layouts/boilerPlateCode.ejs")%>
<div class="watchlist-main-container" >

  <div class="watchlist-user-account-info">
    <div class="watchlist-user-account-box">
        <div class="watchlist-user-imagebox">
            <img src="<%=user.image.url %>" alt="">
        </div>
        <div class="wtc-user-bio">
            <h4>Hello <%=user.name %> </h4>
        </div>
    </div>
    <div class="watchlist-user-order-box">
        <i class="fa-solid fa-boxes-packing"></i>
        <p>My Orders</p>
    </div>
    <div class="watchlist-user-coupons-box">
           <i class="fa-solid fa-ticket"></i>
           <p>My Coupons</p>
    </div>
    <div class="watchlist-user-notification">
        <i class="fa-solid fa-bell"></i>
        <p>All Notification</p>
    </div>
   </div>
  <div class="watchlist-user-product-main-box">

    <div class="watchlist-product-main-head">
        <h3>My WatchList Products</h3>
    </div>

 <%  for(let product of userLikedProduct){ %>
    <div class="watchlist-user-product-box">
        <div class="watchlist-user-product-image">
            <img src="<%=product.image[0] %>" alt="">
        </div>
        <div class="watchlist-user-product-description-with-delete-btn">
            <div class="watchlist-user-product-description">
                <p class="watchlist-user-product-title" ><%=product.description %></p>
                <p class="watchlist-user-product-brand" ><b><%=product.Brand %></b></p>
                <p class="watchlist-user-product-price-main" > <span class="watchlist-user-product-price" > <%=product.prize %>  </span> <span class="watchlist-user-product-discount" > product Discount </span> <span class="watchlist-user-product-discount-off" > product Discount Off </span> </p>
            </div>
            <div class="watchlist-user-product-deleteBtn">
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
    </div>
 <%} %>
  </div>
</div>

<script type="module" src="/javascript/watchlist.js" defer></script>