<%- layout("layouts/boilerPlateCode.ejs") %>

<div class="watchlist-main-container">
  <!-- Left Sidebar -->
  <aside class="watchlist-user-products-checkoutMain">

    <div class="watchlist-checkout-head">
      <h5>Price Details</h5>
      <hr>
    </div> 
    <div class="watchlist-product-details-checkout-m">
      <div class="watchlist-checkout-allproduct-totalprice watchlist-checkout-product-list">
        <div class="watchlist-checkout-allproduct-totalprice-left watchlist-checkout-product-left-list ">
          <span class="watchlist-checkout-items-title" >Price</span>
          <span id="watchlist-checkout-total-productCount"> (6 Items) </span>
          <span class="material-symbols-outlined  watchlist-checkout-item-icon ">priority</span>
        </div>
        <p class="watchlist-checkout-allproduct-totalprice-right">
          ₹ 1,136,788
        </p>
      </div>
      <div class="watchlist-checkout-allproduct-discount watchlist-checkout-product-list">
        <div class="watchlist-checkout-allproduct-discount-left watchlist-checkout-product-left-list">

          <span class="watchlist-checkout-items-title" >Discount</span>
          <span class="material-symbols-outlined watchlist-checkout-item-icon">priority</span>
        </div>
        <p class="watchlist-checkout-allproduct-discount-right">-15,467</p>
      </div>
      <div class="watchlist-checkout-allproduct-coupons watchlist-checkout-product-list">
        <div class="watchlist-checkout-allproduct-coupons-left watchlist-checkout-product-left-list">
          <span class="watchlist-checkout-items-title" >Coupons for you</span>
          <span class="material-symbols-outlined watchlist-checkout-item-icon">priority</span>
        </div>
        <p class="watchlist-checkout-allproduct-coupons-right">-302</p>
      </div>
      <div class="watchlist-checkout-platform-fee watchlist-checkout-product-list">
        <div class="watchlist-checkout-platform-fee-left watchlist-checkout-product-left-list">
          <span class="watchlist-checkout-items-title" >Protect Promise Fee</span>
          <span class="material-symbols-outlined watchlist-checkout-item-icon">priority</span>
        </div>
        <p class="watchlist-checkout-platform-fee-right">₹ 149</p>  
      </div>
    </div>  
    <div class="watchlist-checkout-footer">
      <hr>
      <div class="watchlist-checkout-footer-item-total">
        <span>Total Ammount</span>
        <span id="watchlist-checkout-footer-item-totalPrice" >1,54,235</span>
      </div>
      <hr>
      <p>You will save <span id="watchlist-checkout-you-save"></span> on this order</p>
    </div>  
  </aside>

  <!-- Center Scrollable Section -->
  <section class="watchlist-user-product-main-box">
    <div class="watchlist-product-main-head">
      <div class="watchlist-product-address-head">
        <p>Deliver to : </p>
        <h3>Badaun - 243601</h3>
      </div>
      <div class="watchlist-product-change-address-box">
        <button id="watchlist-product-change-address-btn">
          <span class="material-symbols-outlined">change_circle</span>
          <span>Change</span>
        </button>
      
        <div class="watchlist-address-change-main-box" id="addressBox">
          <!-- If No any Address fetched then show a simple message  -->

          

          <div class="watchlist-address-change-header">
            <p class="watchlist-address-change-head">Select your delivery address</p>
            <span class="material-symbols-outlined address-box-close-icon" id="closeAddressBox">close</span>
          </div>
      
          <div class="watchlist-address-change-select-main">
            <!-- No Address Fetched Box -->

           <!-- <div class="watchlist-no-address-main">
            
           </div> -->

           <div class="watchlist-all-address-option-box">

            <!-- Address 1 -->
            <label class="watchlist-address-option">
              <input type="radio" name="selectedAddress" />
              <div class="watchlist-address-details">
                <div class="watchlist-address-top">
                  <p class="watchlist-address-change-user-name">Jayveer Kumar</p>
                  <span class="watchlist-address-tag home">Home</span>
                </div>
                <p class="pincode">Pincode: 243639</p>
                <p class="full-address">Village and post risouli, Badaun</p>
              </div>
            </label>          
      
            <!-- Address 2 -->
            <label class="watchlist-address-option">
              <input type="radio" name="selectedAddress" />
              <div class="watchlist-address-details">
                <div class="watchlist-address-top">
                  <p class="watchlist-address-change-user-name">Jayveer Kumar</p>
                  <span class="watchlist-address-tag office">Office</span>
                </div>
                <p class="pincode">Pincode: 243601</p>
                <p class="full-address">Near Royal agency , dataganj chungi</p>
              </div>
            </label>
            <label class="watchlist-address-option">
              <input type="radio" name="selectedAddress" />
              <div class="watchlist-address-details">
                <div class="watchlist-address-top">
                  <p class="watchlist-address-change-user-name">Jayveer Kumar</p>
                  <span class="watchlist-address-tag office">Office</span>
                </div>
                <p class="pincode">Pincode: 243601</p>
                <p class="full-address">Near Royal agency , dataganj chungi</p>
              </div>
            </label>
            <label class="watchlist-address-option">
              <input type="radio" name="selectedAddress" />
              <div class="watchlist-address-details">
                <div class="watchlist-address-top">
                  <p class="watchlist-address-change-user-name">Jayveer Kumar</p>
                  <span class="watchlist-address-tag office">Office</span>
                </div>
                <p class="pincode">Pincode: 243601</p>
                <p class="full-address">Near Royal agency , dataganj chungi</p>
              </div>
            </label>
            </div>

          </div>
      
          <div class="watchlist-address-change-footer">
            <p class="watchlist-addrs-cng-headline">
              Use Your Pincode to check delivery information
            </p>
            <div class="watchlist-addrs-chng-pincode-input">
              <input type="number" name="pincode" class="watchlist-pincode-input" id="pincode" placeholder="Enter Pincode" />
              <!-- <button class="watchlist-address-pincode-sbmt-btn btn-disable">Submit</button>  -->
               <button class="watchlist-address-pincode-sbmt-btn btn-disable">
                <span>Submit</span>
                <div class="watchlist-address-chnge-loader-box wtc-loader-hidden">
                  <!-- From Uiverse.io by abrahamcalsin -->
                  <div class="dot-spinner">
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                  </div>
                </div>
               </button>
            </div>
          </div>

        </div>
</div>
    
    </div>

    <div class="watchlist-products-container">
      <% for (let product of userLikedProduct) { %>
        <a href="/shopcard/<%= product._id %>" class="watchlist-product-link-in-view">
          <div class="watchlist-user-product-box">
            <div class="watchlist-user-product-image">
              <img src="<%= product.image[0] %>" alt="<%= product.title %>">
            </div>

            <div class="watchlist-user-product-description-with-delete-btn">
              <div class="watchlist-user-product-description">
                <p class="watchlist-user-product-title"><%= product.description %></p>
                <p class="watchlist-user-product-brand"><b><%= product.Brand %></b></p>
                <p class="watchlist-user-product-price-main">
                  <span class="watchlist-user-product-price">₹<%= product.prize %></span>
                  <span class="watchlist-user-product-discount">100</span>
                  <span class="watchlist-user-product-discount-off">20% off</span>
                </p>
              </div>

            <div class="watchlist-user-product-deleteBtn">
                <button class="delete-btn">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
            
            </div>
          </div>
        </a>
      <% } %>
    </div>
  </section>
  <!-- Right Section for total price checkout  -->  
</div>

<script type="module" src="/javascript/watchlist.js" defer></script>
